<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>DetailProduct</title>
</head>
<body>
<h3>View Product</h3>
<p>
    <a href="@{/products}">
        Back to product list
    </a>
</p>
<div id="detail">
    <div class="cus-detail">
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>
    <div class="cus-detail">
        <label>Price:</label>
        <label th:text="${product.price}"></label>
    </div>
    <div class="cus-detail">
        <label>Quantity:</label>
        <label th:text="${product.quantity}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>